<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <title><%=pkg_info.name%> : <%=pkg_info.description%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="/libs/bootswatch-dist/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css" media="screen">
        <link rel="stylesheet" href="/libs/sweetalert2/sweetalert2.min.css" media="screen">
        <link rel="stylesheet" href="/libs/angular-toastr/angular-toastr.min.css" media="screen">
        <link rel="stylesheet" href="/css/custom.css" media="screen">
    </head>
    <body ng-controller="AppCtrl" ng-init="hash_tag='<%=hash_tag%>';init();">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="" class="navbar-brand"
                       title="Click to update #Tag"
                        ng-click="editHashTag()">
                        <i class="fa fa-twitter"></i>
                        <span ng-if="!edit_mode">
                            #<span ng-bind="hash_tag"></span>
                        </span>
                    </a>
                    <!--<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                    <!--</button>-->
                </div>
                <form class="navbar-form navbar-left" ng-submit="subscribe($event)" ng-if="edit_mode">
                    <div class="form-group">
                        <input type="text"
                               id="hash_tag"
                               class="form-control input-md text-center large-text"
                               ng-model="input.hash_tag"
                               ng-disabled="is_subscribing"
                               placeholder="#Tag"
                               required />
                    </div>
                    <button type="submit"
                            class="btn btn-link"
                            ng-disabled="is_subscribing|| (hash_tag && (hash_tag === input.hash_tag))">
                        Update
                    </button>
                    <button type="button"
                            class="btn btn-link btn-sm"
                            ng-disabled="is_subscribing"
                        ng-click="cancelEditHashTag()">
                        Cancel
                    </button>
                </form>
            </div>
        </div>

        <div class="container">
            <div class="row" ng-if="hash_tag">
                <div class="col-md-8" infinite-scroll="loadMore()" infinite-scroll-distance="3">
                    <hr />
                    <div class="media tweet" ng-repeat="record in new_tweets">
                        <% var is_new=true; %>
                        <%include ./_tweet %>
                    </div>
                    <div class="media tweet" ng-repeat="record in records">
                        <% var is_new=false; %>
                        <%include ./_tweet %>
                    </div>
                    <p>&nbsp;</p><!-- should be coming from style ideally -->
                    <div class="text-center" ng-if="is_loading">
                        <i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
                    </div>
                    <p class="text-success text-center" ng-if="!next_params && !is_loading">
                        ----------- All tweets loaded -----------
                    </p>

                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>

        <div class="container footer">
            <div class="row">
                <div class="col-xs-6">
                    <b><%=pkg_info.author.name%></b>
                </div>
                <div class="col-xs-6 text-right">
                    <%=pkg_info.name%>@<%=pkg_info.version%>
                </div>
            </div>

        </div>

        <%include ./_scroll_top %>

        <script src="/dist/js/core.js?v=<%=pkg_info.version%>"></script>
        <script src="/dist/js/main.js?v=<%=pkg_info.version%>"></script>

        <script src="/socket.io/socket.io.js"></script>

    </body>
</html>
